@page
@model Manage_Property.Pages.Auctions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Bid_Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Bid_Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Property_Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Property_Detail.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Customer_Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Customer_Detail.Customer_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Auction.Dealer_Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auction.Dealer_Detail.Dealer_Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Auction.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
